@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Dark Mode looking scroll bar */
::-webkit-scrollbar-track {
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
  border: 3px solid transparent; /* Creates space around the thumb */
  background-clip: content-box; /* Ensures the border is around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
